<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by AJ John. It uses data from mapbox.com and darksky.net!</p>    
        <img class="portrait" src="/img/aj.jpg" alt="picture of me">
    </div>
    
    {{>footer}}
</body>
</html>